body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}

.jumbotron {
  text-align: center;
  background-image: url(https://images.wallpapersden.com/image/download/new-york-city-street-photography_60649_3840x2160.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  border-radius: 0;
  border-bottom: 3px solid black;
  font-family: 'Open Sans', sans-serif;
}

.display-2 {
  font-family: 'Permanent Marker', cursive;
}

.display-5 {
  font-size: 28px;
  font-weight: bold;
  background-color: #000000;
  border-radius: 1rem;
  width: 45%;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

#currentDay {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  background-color: #000000;
  border-radius: 1rem;
  width: 25%;
  padding: 10px;
  margin: 0 auto;
}


.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid black;
  margin-bottom: 20px;
}

.hour {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  color: black;
}

.fa-save {
  color: black;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  color: black;
  font-size: 3rem;
}

.saveBtn i:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.2) ;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
}

.delaytitle {
  animation-delay: 700ms;
}

.delayclock {
  animation-delay: 1100ms;
}

.delay9am {
  animation-delay: 1.15s;
}

.delay10am {
  animation-delay: 1.2s;
}

.delay11am {
  animation-delay: 1.25s;
}

.delay12pm {
  animation-delay: 1.3s;
}

.delay1pm {
  animation-delay: 1.35s;
}

.delay2pm {
  animation-delay: 1.4s;
}

.delay3pm {
  animation-delay: 1.45s;
}

.delay4pm {
  animation-delay: 1.5s;
}

.delay5pm {
  animation-delay: 1.55s;
}